<%- include('partials/header') -%>

<div class="container">
    <h1> Find a food place near you! </h1>
    <form action="./searchresults">
        <label>
            <h5>
                Enter Your Location:
            </h5>
            <input type="text" name="location" placeholder="Enter your location">
        </label>
        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>


<%- include('partials/footer') -%>