<%- include ('./partials/header') -%>

    <h1> Image Gallery of your favorite treats </h1>

    <img src="1.jpg" alt="Error">
    <br>
    <div id="imagebuttons">
        <button id="previous" class="buttons">Previous</button>
        <button id="next" class="buttons">Next</button>
    </div>

<%- include ('./partials/footer') -%>