    <div class="footer">
        <h2>The Desserts</h2>

        <button class="button">Home</button>
        <button class="button">Tech</button>
        <button class="button">Politics</button>
        <button class="button">About</button>
        <button class="button">FAQ</button>
        <button class="button">Contact</button>


        <p>The News <i class="fa-regular fa-copyright"></i> 1983</p>
    </div>
    <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
